<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171266733603-9g5r474mu5h70lrtkmmuguujs9juco7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171266733603-9g5r474mu5h70lrtkmmuguujs9juco7m</string>
	<key>API_KEY</key>
	<string>AIzaSyDN7mFRj9tOkb5cYYEgaHsnsTRXZyFO_kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>171266733603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetbilir.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-51506</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-51506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171266733603:ios:c723952901fcc025b02396</string>
</dict>
</plist>